<h1>All Tags</h1>

<ul id="tags">
  <% @tags.each do |tag| %>
      <li>
        <%= link_to tag.name, tag %> |
        <%= link_to "Delete?", tag_path(tag), data: {confirm: 'Really want to delete tag?'}, method: :delete %>
      </li>
  <% end %>
</ul>
